{% extends 'includes/_admin_base.html' %}
{% from 'includes/_render_field.html' import render_field %}

{% block content %}
<div class="col-md-3">
    <h2 class="text-center">Edit Trip</h2>
    <div class="container">
        <div>
            <form class="needs-validation" method="post" action="{{ url_for('trips_bp.edit_trip', id=trip.id)}}">
                {{ render_field(form.name, class='form-control', type='text', value=trip.name) }}
                {{ render_field(form.length, class='form-control', type='text', value=trip.length) }}
                {{ render_field(form.start, class='form-control', type='text', value=trip.start) }}
                {{ render_field(form.resort, class='form-control', type='text', value=trip.resort) }}
                {{ render_field(form.perPerson, class='form-control', type='text', value=trip.perPerson) }}
                {{ render_field(form.image, class='form-control', type='text', value=trip.image) }}
                {{ render_field(form.description, class='form-control', type='text', value=trip.description) }}
                {{ form.submit(class='btn btn-info')}}
            </form>
        </div>
    </div>
</div>
{% endblock %}

