{% extends 'includes/_base.html' %}

{% block content %}

	<div id="contents">
		<div class="box">
			<div>
				<div class="body">
					<h1> Travel</h1>
					<ul id="sites">
						{% for trip in trips %}
						<li>
							{% set img = "images/" ~ trip.image %}
							<a href="{{ url_for('admin.trip_details', id = trip.id) }}"><img src="{{url_for('static', filename=img)}}" alt="Img"></a>
							<h2><a href="{{url_for('web.travel')}}">{{trip.name}}</a></h2>
							{{ trip.description |striptags}}
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
		
{% endblock %}

