<nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('admin.trip_list')}}"><img src="{{ url_for('static', filename='/images/logo.png')}}"></a>
    <button class="navbar-toggler" type="button" datatoggle="collapse" data-target="#navbarNavAltMarkup" ariacontrols="navbarNavAltMarkup" aria-expanded="false" arialabel="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
        <a class="nav-item nav-link active" href="{{ url_for('admin.trip_list')}}">Trips<span class=" sr-only ">(current)</span></a>
        </div>
    </div>
    <div class="navbar-end">
        <a class="navbar-item">
        <span class="has-icon-left">Log In</span>
        </a>
        {# only if logged in #}
        <a class="navbar-item">
        <span class="has-icon-left">Log Out</span>
        </a>
    </div>
 </nav>