 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('admin.trip_list') }}"><img src="{{ url_for('static', filename='/images/logo.png') }}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('admin.trip_list') }}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('admin.add_trip') }}">Add Trip</a>
        </li>
        {# if logged in do this }
        <li class="nav-item">
          <a class="nav-link disabled" href="{{ url_for('admin.trip_list') }}">Disabled</a>
        </li>
        { #}
      </ul>

    </div>
  </nav>