{% from 'includes/_trip_card.html' import render_trip_card %}
<div>
    <a href="{{ url_for('admin.add_trip')}}" class="btn btn-info">Add Trip</a>
</div>
<div class="row">
    {% if trips %}
        {% for trip in trips %}
            <div>
                <div class="card-deck mt-2">
                    {{ render_trip_card(trip) }}
                </div>
            </div>
        {% endfor %}
    {% elif trip %}
        <div>
            <div class="card-deck mt-2">
                {{ render_trip_card(trip) }}
            </div>
        </div>
    {% else %}
        <h1>Sorry no trips yet, check back later</h1>
    {% endif %}
    
</div>

