{% macro render_trip_card(trip) %}
<div class="card ml-4" style="width: 18rem;">
    <div class="card-header">{{ trip.name }}</div>
    {% set img_path = 'images/' ~ trip.image %}
    <img src="{{ url_for('static', filename=img_path) }}" 
        alt="trip thumbnail" 
        class="card-img-top"> 
    <div class="card-body"> 
        <h6 class="card-subtitle mb-2 text-muted"> 
            {{ trip.resort }} 
        </h6>
        <p class="card-text">Start Date: {{ trip.start  }}</p> 
        <p class="card-text">Lenght of Stay: {{ trip.length }} Nights</p> 

        <p class="card-subtitle mt-3 mb-3 text-muted"> 
             Price: ${{ trip.perPerson }} Per-Person, Per Night
        </p> 
        <p class="card-text">{{ trip.description | safe }}</p> 
    </div>
    <div>
        <a href="{{ url_for('admin.edit_trip', id=trip.id)}}" class="btn btn-info">Edit</a>
        <a href="{{ url_for('admin.delete_trip', id=trip.id)}}" class="btn btn-info">Delete</a>
    </div>
</div>
{% endmacro %}